/* =========================================
   Banner Section Responsive CSS Start
   ========================================= */
@media (max-width: 768px) {
    .banner-section .bg-text {
        font-size: 15vw;
    }

    .banner-section .deity-placeholder {
        width: 250px;
        height: 300px;
    }

}

/* =========================================
   Banner Section Responsive CSS End
   ========================================= */

/* =========================================
   About Section Responsive CSS Start
   ========================================= */
@media (max-width: 991px) {
    .about-section .about-text-col {
        padding-right: 15px;
        margin-bottom: 40px;
    }

    .about-section .about-title {
        font-size: 38px;
    }
}

@media (max-width: 768px) {
    .about-section {
        padding: 50px 0;
    }

    .about-section .about-title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .about-section .about-subtitle {
        font-size: 18px;
    }

    .about-section .about-description {
        font-size: 17px;
        line-height: 1.6;
    }

    .about-section .about-img-col {
        margin-top: 30px;
    }

    .about-section .about-image-wrapper::after {
        width: 100%;
        left: 0;
    }
   
}

@media (max-width: 576px) {
    .about-section .about-title {
        font-size: 28px;
    }

    .tmy-content-box {
        padding: 20px !important;
    }

    .about-section {
        padding: 30px 20px;
    }

    .donation-section .donation-bottom-content {
        padding: 0 20px !important;
    }

    .donation-section .donation-form-wrapper {
        margin: 0 auto 35px;
        padding: 0 20px;
    }

    .faq-heading {
        width: 60%;
    }

    .tym-heading-img {
        width: 20%;
    }

    .tmy-section .tmy-heading h2 span {
        font-size: 38px;
        margin: 0 5px;
    }

    .about-heading-1 {
        width: 50%;
    }

    .pari-chai-section {
        padding: 30px 20px;
    }

    .pari-chai-section .about-title-2 {
        font-size: 28px;
    }

    .pari-chai-section p {
        font-size: 17px;
    }

    .pari-chai-section .about-list li {
        font-size: 16px;
    }

    .about-text-col {
        margin-top: 40px;

    }

    .about-section-2 {
        padding: 30px 20px;
    }

    .about-title-2 {
        font-size: 28px;
    }

    .about-section-2 .about-title-2 img {
        width: 90% !important;
    }

    .about-section-2 .about-description {
        font-size: 17px;
    }

    .about-section-2 .about-card .about-card-content p {
        font-size: 17px;
        line-height: 1.6;
    }
    .about-section-2 .about-card{
        padding: 0 20px;
    }
    .contact-content{
                top: 5%;
                        left: 5%;
                transform: none;
                padding: 0 20px;
    }
    .contact-content img{
        max-width: 100%;
    }
}

@media (min-width: 577px) and (max-width:1023px) {
    .desktop-menu .nav-links {
        gap: 0px !Important;
    }
}
@media (min-width: 577px) and (max-width:991px) {
     .about-heading-1{
        width: 35% !important;
    }
    .about-hedaing-2{
        width: 65% !important;
    }
    .about-section .about-page-2{
        width: 100% !important;
    }
    .about-section-2 .about-card{
        padding: 0 30px;
    }
    .contact-frm{
        max-width: 500px !important;
    }
    .contact-section{
        padding-bottom: 450px;
    }
    .contact-frm{
            top: 18%;
    }
}

/* =========================================
   About Section Responsive CSS End
   ========================================= */
   @media (min-width: 991px) and (max-width:1200px) {

    .contact-section{
        padding-bottom: 450px;
    }
   }